:root {
  --bg-color: #0d0d0d;
  --black-color: #000;
  --white-color: #fdf8ff;
  --orange-color: #e34c26;
  --blue-color: #0891b2;
  --pink-color: #cc6699;
  --yellow-color: #f0db4f;
  --gray-color: #161616;
  --purple-color: #777bb4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--white-color);
  position: relative;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 400;
}

section {
  width: 100%;
  min-height: 100vh;
  border-bottom: 2px solid var(--white-color);
  padding: 5rem 3.5rem;
  position: relative;
}

section:last-child {
  border: none;
}

::-webkit-scrollbar {
  width: 5px;

  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: none;
}
