.header {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 2rem;
}

.header > .header_items_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white-color);
}

.header > .header_items_wrapper > .header_items_active,
.header > .header_items_wrapper > .header_items {
  width: 150px;
  background-color: red;
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
}

.header > .header_items_wrapper > .header_items:hover,
.header > .header_items_wrapper > .header_items_active {
  color: var(--black-color);
  background-color: var(--white-color);
}
